.grid-stack-item-content {
    color: #2c3e50;
    background-color: gray;
    overflow: hidden!important;
    border: solid 1px;
}

.remove-btn {
    float: right;
}
.widget-select{
    max-width: 500px;
    margin-top: 20px;
}
.modal-title {
    line-height: 1.2;
}
.modal-iframe{
    width: 100%;
    height: 100%;
}
.widget-section{
    display: none;
}
.login-section{
    display: none;
    max-width: 300px;
    margin: 50px auto;
}
.logout-wrapper{
    margin-top: 20px;
}
.logout-btn{
    margin-left: 20px;
}
.roles-wrapper{
    max-width: 50%;
    margin: 100px auto;
    background-color: #8080802b;
    padding: 20px;
    border-radius: 4px;
}
/*custom size*//*
.grid-stack-item[data-gs-height="4"]  { height: 400px!important; }
.grid-stack-item[data-gs-height="3"]  { height: 300px!important; }
.grid-stack-item[data-gs-height="2"]  { height: 200px!important; }
.grid-stack-item[data-gs-height="1"]  { height: 100px!important; }*/

/*
.grid-stack-item[data-gs-width="4"]  { width: 400px!important; }
.grid-stack-item[data-gs-width="3"]  { width: 300px!important; }
.grid-stack-item[data-gs-width="2"]  { width: 200px!important; }
.grid-stack-item[data-gs-width="1"]  { width: 100px!important; }*/
